.tagbar-wrapper {
    position: sticky;
    /* top: 70px; */

    display: flex;
    align-items: center;

    width: 100%;
    background: white;
    padding: 10px;
    box-sizing: border-box;
}

.tagbar-container {
    flex: 1;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.tagbar-container::-webkit-scrollbar {
    display: none;
}

.tags {
    display: flex;
    gap: 10px;
    width: max-content;

}

.tag {
    flex-shrink: 0;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid var(--border);
    border-radius: 30px;
    padding-inline: 15px;
    width: fit-content;
    height: fit-content;
    padding-block: 5px;
    color: var(--text-h);

    font-weight: 500;
}

.tag:hover {
    color: var(--main-color);
    background-color: var(--hover-color);
}

.scroll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;

    margin: 0 8px;

    border: none;
    border-radius: 5px;
    color: var(--main-color);
    background: white;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;

    flex-shrink: 0;

    transition: background-color 0.2s;
}

.scroll-button:hover {
    background: var(--hover-color);
}