.layout {
    display: flex;
    min-height: 100vh;
}

.navbar {
    width: 75px;
    border-right: 1px solid #e5e5e5;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-inline: 18px;

}