.layout {
    display: flex;
    min-height: 100vh;
}

.navbar {
    width: 75px;
    border-right: 1px solid darkgray;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-inline: 18px;
    min-width: 0;
}