.card-container {
    width: 234px;
    height: 312px;
}

.image {
    width: 261px;
    height: 348px;
    background-color: grey;
    border-radius: 15px;
    margin-block: 3px;
}

.img {
    width: 261px;
    height: 348px;
    border-radius: 15px;
    margin-block: 3px;
}

h2 {
    font-size: 20px;

}

p {
    font-size: 15px;
    line-height: 12px;
}